# Gitignore For the Ensemble Colorizer

# Exclude all files, then include in only the required ones
*

# Allow for files nested within directories
!*/

# Allow for C and header files
!*.c
!*.h

# Allow for shell and python scripts
!*.sh
!*.py

# Allow for MATLAB files
!*.m

# Allow for build files
!Makefile

# Allow for tensorflow model files
!*.tfmodel
!*.tfmodel.torrent

# Allow for CSS, HTML, JSON, and Markdown files
!*.css
!*.html
!*.json
!*.md

# Allow for font files
!*.woff

# Allow for Latex files
!*.tex
!*.sty
!*.bst
!*.bib

# Allow for images files for used for the reports
!/paper/images/*.png

# Allow for gitignore files
!.gitignore

# Allow for Heroku configuration files, only at the top-level
!/Procfile
!/requirements.txt

# Allow for the license and README files
!LICENSE
!README.md
